<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href={{ url_for('static', filename='stylesheet.css') }}>
        <script type="text/javascript" src={{ url_for('static', filename='todo.js') }}></script>
    </head>

    <body>
        <div id="container">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">TODOs</a>
            </nav>
            <div class="col-sm-4">
                <div class="input-group" style="margin-top: 20px;">
                    <input type="text" class="form-control" id="input-text">
                    <div class="input-group-append" id="button-addon4">
                        <button id="btn-submit" class="btn btn-outline-secondary" type="button" onclick="add_item()">Add</button>
                        <button id="btn-clear" class="btn btn-outline-secondary" type="button" onclick="clear_list()">Clear</button><br>
                    </div>
                </div>
                <div id="error-msg" style="margin-top: 5px;"></div>
                <p>List:<p>
                <div>
                    <ul id="item-list" class="list-group">
                        {% for item in items %}
                        <li class="cart-item">
                            <div>
                                <div class="item-text">
                                    {{ item }}
                                </div>
                                <div class="close_icon" id="close-button">
                                    <img src={{ url_for('static', filename='error.png') }}>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
